all:
  # default values that control the OpenShift cluster deployment
  vars:
    #
    # part 1 - cluster configuration
    #

    # cloud provider selection
    cloud_provider: "aws" # aws, azure, gcp

    # cluster version
    cluster_version: "4.21.9"

    # installer architecture, see https://mirror.openshift.com/pub/openshift-v4/clients/ocp/4.20.2/
    installer_architecture: "mac-arm64" # mac, mac-arm64, linux, linux-arm64
        
    # cluster topology
    cluster_arch: "multi" # x86_64, aarch64, multi -> multi is only available on aws & azure !
    control_plane_arch: "arm64" #  amd64, arm64, -> only relevant when cluster_arch == multi
    cluster_topology: "default" # default, compact

    # cluster configuration
    cluster_name: "rhas"
    cluster_sub_domain: "rhas.example.com"
    cluster_toplevel_domain: "example.com" # top-level domain for e.g. default user emails
    cluster_default_storage_class: "gp3-csi" # "gp3-csi" (aws), "managed-csi" (azure), "standard-csi" (gcp)
    
    # cluster deployment options
    setup_arm_worker_nodes: false # create a second set of ARM worker nodes if primary is x86_64 based
    setup_baremetal_worker_node: false # create a bare-metal ARM worker node (currently AWS only)
    setup_virtualization: false # setup cnv operator on bare-metal ARM worker node (currently AWS only)

    # cluster overrides
    # see 'roles/create-cluster/defaults/main.yml' for available variables

    #
    # part 2 - platform configuration
    #

    platform_deploy_devspaces: true # deploy dev spaces
    platform_deploy_developer_hub: false # deploy the developer hub
    platform_deploy_jumpstarter: false # deploy the jumpstarter operator
    platform_deploy_builder: true # deploy the builder operator
    
    # resource prefix
    platform_prefix: "auto" # used in e.g. namespace creation, node labeling etc

    # default repo for all the GitOps apps
    platform_gitops_repo_url: "https://github.com/rhadp/rhas-deploy"
    platform_gitops_repo_revision: "main"

    # default platform namespaces
    platform_devspaces_namespace: "{{ platform_prefix }}-devspaces"
    platform_developer_hub_namespace: "{{ platform_prefix }}-devhub"
    platform_builder_namespace: "{{ platform_prefix }}-builder"
    platform_jumpstarter_namespace: "{{ platform_prefix }}-jumpstarter"

    # remove the kubeadmin user and the self-provisioning role
    remove_kubeadmin: true
    remove_self_provisioning: true

    # platform overrides
    # see 'roles/setup-platform/defaults/main.yml' for available variables

    #
    # part 3 - platform credentials
    #
    
    # pull secret, see https://console.redhat.com/openshift/create
    pull_secret_file: "inventory/pull-secret-aws.txt" # place the pull secret at this loacation

    #
    # credentials used to deploy the cluster
    #

    # aws infrastructure credentials
    #aws_access_key_id: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
    #aws_secret_access_key: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"
    #aws_default_region: "{{ lookup('env', 'AWS_REGION') }}"

    # azure infrastructure credentials
    #azure_guid: "guid123"
    #azure_client_id: "abc123"
    #azure_password: "abc123"
    #azure_tenant: "rhas.example.com"
    #azure_subscription: "abc123"
    #azure_resource_group: "abc123"
    #azure_default_region: "westus" # https://gist.github.com/ausfestivus/04e55c7d80229069bf3bc75870630ec8

    # gcp infrastructure credentials
    #gcp_service_account_key_file: "$HOME/service_account.json" # place the service account key file at this location
    #gcp_service_account_email: "email@example.com.iam.gserviceaccount.com"
    #gcp_project_id: "project-id"
    #gcp_organization_id: "organization-id"
    #gcp_default_region: "us-central1"

    #
    # credentials used to configure the platform
    #

    #platform_aws_access_key_id: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
    #platform_aws_secret_access_key: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"
    #platform_aws_default_region: "{{ lookup('env', 'AWS_REGION') }}"

    # secrets for oauth provider setup in Keycloak
    #github_oauth_client_id: "abc123"
    #github_oauth_client_secret: "abc123"

    # secrets for oauth provider application setup in DevSpaces
    #github_devspaces_client_id: "abc123"
    #github_devspaces_client_secret: "abc123"

    # github org to configure
    github_endpoint: "github.com"
    github_org: "rhadp-examples"

    # github api token for e.g. setting up a runner
    #github_api_pat: "ghp_1234567890"
    github_api_pat_owner: "bob"

    # letsencrypt account email
    #letsencrypt_email: "email@example.com"

    # default admin user
    default_admin_user: admin
    default_admin_password: openshift
    default_admin_email: "admin@example.com"

    # default anonymous users
    default_nobody_user: "nobody"
    default_nobody_password: "nobody"

    # keycloak instance variables
    keycloak_db_user: "admin"
    keycloak_db_password: "openshift"
    keycloak_client_secret: "openshiftkc"

    # other
    platform_builder_webhook_secret: "abc123"

