kind: Secret
apiVersion: v1
metadata:
  name: aws-credentials
data:
  aws_access_key_id: "{{ platform_aws_access_key_id | b64encode }}"
  aws_secret_access_key: "{{ platform_aws_secret_access_key | b64encode }}"
  aws_default_region: "{{ platform_aws_default_region | b64encode }}"
type: Opaque