kind: Secret
apiVersion: v1
metadata:
  name: git-credentials-secret
  namespace: {{ platform_devspaces_namespace }}
  labels:
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: workspaces-config
    controller.devfile.io/watch-secret: "true"
    controller.devfile.io/mount-to-devworkspace: "true"
    controller.devfile.io/git-credential: "true"
  annotations:
    controller.devfile.io/mount-as: file
    controller.devfile.io/mount-path: "/.git-credentials"
data:
  credentials: "{{ github_api_credentials | b64encode }}"
type: Opaque
