apiVersion: v1
kind: Secret
metadata:
  name: keycloak-temp-admin-secret
  namespace: {{ keycloak_namespace }} 
stringData:
  username: {{ keycloak_admin_user | default(default_admin_user) }}
  password: {{ keycloak_admin_password }}
